[submodule "3rdparty/zipper"]
	path = 3rdparty/zipper
	url = https://github.com/sebastiandev/zipper.git
[submodule "3rdparty/openal-soft"]
	path = 3rdparty/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "3rdparty/pugixml"]
	path = 3rdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "3rdparty/recastnavigation"]
	path = 3rdparty/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "3rdparty/tbb"]
	path = 3rdparty/tbb
	url = https://github.com/intel/tbb.git
[submodule "3rdparty/bullet3"]
	path = 3rdparty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "3rdparty/sqlite3-cmake"]
	path = 3rdparty/sqlite3-cmake
	url = https://github.com/alex85k/sqlite3-cmake.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/module"]
	path = 3rdparty/module
	url = https://github.com/xenginez/module.git
