[submodule "3rdparty/recastnavigation"]
	path = 3rdparty/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/tbb"]
	path = 3rdparty/tbb
	url = https://github.com/wjakob/tbb.git
[submodule "3rdparty/PhysX"]
	path = 3rdparty/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "3rdparty/openal-soft"]
	path = 3rdparty/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "3rdparty/miniaudio"]
	path = 3rdparty/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "3rdparty/ozz-animation"]
	path = 3rdparty/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "3rdparty/sse2neon"]
	path = 3rdparty/sse2neon
	url = https://github.com/DLTcollab/sse2neon.git
